<body>
    <div class="grid">
        <div class="c1">
            <div class="r1"><img src="{{ gridContent[0][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[0][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[0][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[0][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[0][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[0][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(0)" (mouseover)="onMouseOver(0)"
                (mouseout)="onMouseOut(0)"><img src="{{ buttons[0] }}" width="42px"></button>
        </div>
        <div class="c2">
            <div class="r1"><img src="{{ gridContent[1][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[1][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[1][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[1][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[1][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[1][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(1)" (mouseover)="onMouseOver(1)"
                (mouseout)="onMouseOut(1)"><img src="{{ buttons[1] }}" width="42px"></button>
        </div>
        <div class="c3">
            <div class="r1"><img src="{{ gridContent[2][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[2][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[2][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[2][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[2][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[2][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(2)" (mouseover)="onMouseOver(2)"
                (mouseout)="onMouseOut(2)"><img src="{{ buttons[2] }}" width="42px"></button>
        </div>
        <div class="c4">
            <div class="r1"><img src="{{ gridContent[3][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[3][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[3][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[3][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[3][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[3][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(3)" (mouseover)="onMouseOver(3)"
                (mouseout)="onMouseOut(3)"><img src="{{ buttons[3] }}" width="42px"></button>
        </div>
        <div class="c5">
            <div class="r1"><img src="{{ gridContent[4][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[4][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[4][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[4][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[4][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[4][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(4)" (mouseover)="onMouseOver(4)"
                (mouseout)="onMouseOut(4)"><img src="{{ buttons[4] }}" width="42px"></button>
        </div>
        <div class="c6">
            <div class="r1"><img src="{{ gridContent[5][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[5][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[5][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[5][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[5][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[5][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(5)" (mouseover)="onMouseOver(5)"
                (mouseout)="onMouseOut(5)"><img src="{{ buttons[5] }}" width="42px"></button>
        </div>
        <div class="c7">
            <div class="r1"><img src="{{ gridContent[6][0] }}"></div>
            <div class="r2"><img src="{{ gridContent[6][1] }}"></div>
            <div class="r3"><img src="{{ gridContent[6][2] }}"></div>
            <div class="r4"><img src="{{ gridContent[6][3] }}"></div>
            <div class="r5"><img src="{{ gridContent[6][4] }}"></div>
            <div class="r6"><img src="{{ gridContent[6][5] }}"></div>
            <button type="button" class="btn btn-danger" (click)="placeToken(6)" (mouseover)="onMouseOver(6)"
                (mouseout)="onMouseOut(6)"><img src="{{ buttons[6] }}" width="42px"></button>
        </div>
    </div>
    <div class="side" *ngIf="gridIsFull || thereIsAWinner">
        <p *ngIf="gridIsFull">Match nul</p>
        <p *ngIf="thereIsAWinner">Victoire de <img src="{{ winnerName }}"></p>
        <button type="button" class="btn btn-info" (click)="playAgain()">Rejouer</button>
    </div>
</body>