<body>
    <div class="whosTurnDiv">
        <div class="whosTurn">Au tour d{{ apostrophe() }}{{ whosTurn() }} <img src="{{ playerToken[count % 2] }}" width="50px"></div>
    </div>
    <div class="grid">
        <div class="column" *ngFor="let c of gridContent; index as i" (click)="placeToken(i)">
            <div *ngFor="let img of c"><img [@blink]="!img[1] ? 'visible' : 'invisible'" src="{{ img[0] }}"
                    width="100%"></div>
            <!-- <button mat-raised-button (click)="placeToken(i)" (mouseover)="onMouseOver(i)"
                (mouseout)="onMouseOut(i)"><img src="{{ buttons[i] }}" width="100%" style="padding: 0.5em 0;"></button> -->
        </div>
    </div>
    <div class="infos">
        <div [@fade]="firstMove ? 'visible' : 'invisible'" class="firstMovePopup">
            <span>Cliquez sur l'un des carrés pour placer le premier jeton !</span>
        </div>
        <div [@fade]="thereIsAWinner || draw ? 'visible' : 'invisible'" class="gameEndedPopup">
            <p *ngIf="draw">Match nul</p>
            <p *ngIf="thereIsAWinner">Victoire d{{ apostrophe(1) }}{{ whosTurn(1) }} <img src="{{ winnerName }}" width="50px"></p>
            <button mat-raised-button color="accent" (click)="playAgain()">Rejouer</button>
        </div>
    </div>
</body>