<body>
    <div class="whosTurn">Au tour de <img src="{{ playerToken[count % 2] }}" width="50px"></div>
    <div class="grid">
        <div class="column" *ngFor="let c of gridContent; index as i">
            <div *ngFor="let img of c"><img [@blink]="!img[1] ? 'visible' : 'invisible'" src="{{ img[0] }}"
                    width="100%"></div>
            <button type="button" class="btn btn-secondary" (click)="placeToken(i)" (mouseover)="onMouseOver(i)"
                (mouseout)="onMouseOut(i)"><img src="{{ buttons[i] }}" width="100%"></button>
        </div>
    </div>
    <div class="infos">
        <div [@fade]="firstMove ? 'visible' : 'invisible'" class="firstMovePopup">
            <span>Cliquez sur l'un des carrés pour placer le premier jeton !</span>
        </div>
        <div [@fade]="thereIsAWinner || draw ? 'visible' : 'invisible'" class="gameEndedPopup">
            <p *ngIf="draw">Match nul</p>
            <p *ngIf="thereIsAWinner">Victoire de <img src="{{ winnerName }}"></p>
            <button mat-raised-button color="accent" (click)="playAgain()">Rejouer</button>
        </div>
    </div>
</body>