.grid
{
    width: fit-content;
    margin: 5em auto;
    display: flex;
    text-align: center;
}
.c1
{
    margin: 0.1em;
}
.c1 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c2
{
    margin: 0.1em;
}
.c2 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c3
{
    margin: 0.1em;
}
.c3 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c4
{
    margin: 0.1em;
}
.c4 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c5
{
    margin: 0.1em;
}
.c5 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c6
{
    margin: 0.1em;
}
.c6 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}
.c7
{
    margin: 0.1em;
}
.c7 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
    margin-bottom: 0.1em;
    background-color: royalblue;
}