body
{
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.grid
{
    background-color: rgb(24, 24, 24);
    padding: 1em 0.5em;
    border-radius: 30px;
    width: fit-content;
    height: 580px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
.grid button
{
    width: fit-content;
    height: fit-content;
    margin-top: 0.5em;
}
.side
{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(33, 25, 43);
    grid-column-start: 3;
    grid-column-end: 4;
}
.side p
{
    font-size: 3em;
    color: white;
}
.c1 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c2 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c3 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c4 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c5 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c6 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}
.c7 div
{
    font-size: 2em;
    color: white;
    height: 80px;
    width: 80px;
}