<body class="game">
  <div class="grille">
    <button type="button" class="btn btn-light" (click)="whatSign(0)"><img src="{{ signes.get(0) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(1)"><img src="{{ signes.get(1) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(2)"><img src="{{ signes.get(2) }}"></button><br />
    <button type="button" class="btn btn-light" (click)="whatSign(3)"><img src="{{ signes.get(3) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(4)"><img src="{{ signes.get(4) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(5)"><img src="{{ signes.get(5) }}"></button><br />
    <button type="button" class="btn btn-light" (click)="whatSign(6)"><img src="{{ signes.get(6) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(7)"><img src="{{ signes.get(7) }}"></button>
    <button type="button" class="btn btn-light" (click)="whatSign(8)"><img src="{{ signes.get(8) }}"></button>
  </div>
  <div class="end">
    <p class="whoPlays" *ngIf="!ended">Au tour d{{ apostrophe() }}{{ whosNextName() }} <img src="{{ whosNextImg() }}" height="50px"></p>
    <p *ngIf="ended">{{ endText }}{{ apostrophe(1) }}{{ whosNextName(1) }} <span *ngIf="ended && !draw"><img
          src="{{ signes.get(this.lastIndex) }}"></span><br /> <button mat-raised-button color="accent"
        (click)="playAgain()">Rejouer</button>
    </p>
  </div>
</body>