.app {
    display: flex;
    flex-wrap: wrap;
}
.game {
    width: 530px;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
}
button {
    height: fit-content;
}
