.app {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5em;
}
.game {
    width: 530px;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
}
.infos {
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: 300px;
    margin: 1em auto 0 auto;
    background-color: rgb(33, 25, 43);
    padding: 0.4em 0.5em;
    border-radius: 10px;
}
.infos * {
    text-align: center;
}
.whosTurn {
    font-size: 1.8em;
}
.playAgain {
    font-size: 1em;
}
.dice {
    margin: auto;
    padding: 1em 0;
}
button {
    margin: 0.5em 0;
}
.leftSide {
    min-width: 30vw;
    height: fit-content;
    margin: auto;
}
.rightSide {
    min-width: 30vw;
    height: fit-content;
    margin: auto;
}