<div class="app">
    <div class="leftSide"></div>
    <div class="game">
        <mat-grid-list cols="15">
            <mat-grid-tile *ngFor="let case of cases; index as i"><img *ngIf="case.content !== null"
                    src="{{ case.content }}" height="100%" (click)="convert(i)"></mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="rightSide">
        <div class="infos" *ngIf="!gameEnded">
            <div class="whosTurn">Au tour de <img src="{{ horsesImg[turn % 4] }}" height="30px"></div>
            <img class="dice" src="{{ dicesImg[dice - 1] }}" width="50px">
            <span *ngIf="dice === 6 && canPlay" class="playAgain">Vous rejouez !</span>
            <button (click)="play()" mat-raised-button>Lancer le dé</button>
        </div>
        <div class="infos" *ngIf="gameEnded">
            <div class="whosTurn">Partie terminée</div>
        </div>
    </div>
</div>