/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
img {
    vertical-align: middle;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}
